@import "vars";

body, html {
  padding: 0;
  margin: 0;
}

.main-body {
  padding-top: $menu-size;
  color: $text-color;
  background-color: $main-bgcolor;
}

.main-menu {
  position: fixed;
  border: 0px;
  z-index: 999;
  right: 0px;
  left: 0px;
  height: $menu-size;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: auto;

  border-bottom: 1px solid;
  color: $text-color;
  background-color: $main-bgcolor;
  border-color: $divider-color;
}

.mainmenu-item {
  background: $main-bgcolor;
  text-align: center;
  margin: auto;
  color: $test-color;
  background-color: $test-color2;
}

.muted {
  position: fixed;
  visibility: hidden;
  z-index: 1;
  opacity: 0.5;
  border: 0px;
  left: 0;
  right: 0;
  top: $menu-size;
  bottom: 0;
  background-color: $muted-color;
}
.sub-menu{
}