$primary-color: #EF7733;
$secondary-color: #153062;
$link-color: #4096ef;
$text-color: #272727;
$main-bgcolor: #ffffff;
$muted-color: #999999;
$divider-color: #eaeaea;

$test-color: #aa0000;
$test-color2: #0000aa;

$menu-size: 60px;