$primary-color: #EF7733;
$secondary-color: #153062;
$link-color: #4096ef;
$text-color: #272727;
$main-bgcolor: #ffffff;
$greyed-color: #999999;
$divider-color: #eaeaea;
$shadow-color: rgba(0, 0, 0, 0.15);

$test-color: #aa0000;
$test-color2: #0000aa;

$menu-size: 61px;
$greyed-opacity: 0.3;